<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Stream Downloader</title>
    <link rel="stylesheet" href="../static/css/div.css" >
    <link rel="stylesheet" href="../static/css/action.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/precentage.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- 页面头部 -->
    <div class="header-container" id="main-header-container">
        <div class="header-container-start">
            <!-- Logo -->
            <div class="header-container-start-item">
                <div class="logo-container">
                    <img src="../../media/logo.JPG" alt="Logo" class="logo-img">
                </div>
            </div>
        </div>
        <div class="header-container-end">
            <!-- 头像 -->
             <div class="header-container-end-item">
                <div class="avatar-container">
                    <img src="../../media/avatar.png" alt="avatar" class="avatar">
                </div>
            </div>
        </div>
    </div>

    <!-- 主菜单切换复选框 -->
    <input type="checkbox" id="sidebar-toggle">
    
    <!-- 页面内容 -->
    <div class="content-container">
        <!-- 锚点目标，用于:target选择器 -->
        <div id="download"></div>
        <div id="history"></div>
        <div id="log"></div>

        <!-- 侧边栏 -->
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="logo-text">SMSD</div>
                <label for="sidebar-toggle" class="toggle-btn"></label>
            </div>

            <div class="sidebar-content">
                <div class="sidebar-menu">
                    <div class="sidebar-menu-item">
                        <!-- 下载框 -->
                        <a href="#download" class="sidebar-menu-link">
                            <span class="sidebar-menu-icon">⬇️</span>
                            <span class="sidebar-menu-text">Download</span>
                            <div class="tooltip">Download</div>
                        </a>
                    </div>

                    <div class="sidebar-menu-item">
                        <!-- 历史记录 -->
                        <a href="#history" class="sidebar-menu-link">
                            <span class="sidebar-menu-icon">🕒</span>
                            <span class="sidebar-menu-text">History</span>
                            <div class="tooltip">History</div>
                        </a>
                    </div>
                    <div class="sidebar-menu-item">
                        <!-- 下载日志 -->
                        <a href="#log" class="sidebar-menu-link">
                            <span class="sidebar-menu-icon">📝</span>
                            <span class="sidebar-menu-text">Log</span>
                            <div class="tooltip">Log</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 主要内容 -->
        <div class="content-main">
            <section id="download-content" class="content-section">
                <!-- 下载框 -->
                <div id="wrapper">
                    <h1>Paste Your Link Here</h1>
                    <div class="container">
                        <textarea type="text" id="linkInput" class="auto-resize-input" placeholder="Enter your link here"></textarea>
                    </div>
                    <button id="submitButton">提交</button>
                    <button id="pasteButton" onclick="pasteFromClipboard()">从剪贴板读取</button>
                    
                    <!-- 加入喜好列表 -->
                    <div class="checkbox-container">
                        <label>
                            <input type="checkbox" id="favoriteCheckbox"> 添加到喜爱列表
                        </label>
                        <br>
                    </div>
                    <!-- 喜好程度 -->
                    <div class="slider-container" id="sliderContainer">
                        <div class="slider-wrapper">
                            <div class="slider-track">
                                <div class="slider-progress" id="sliderProgress"></div>
                            </div>
                            <input type="range" min="0" max="100" value="0" class="slider" id="preferenceSlider">
                        </div>
                        <span class="percentage" id="percentageValue">0%</span>
                    </div>
                    <p id="status" class="status">准备就绪</p>
                </div>
            </section>
            <section id="history-content" class="content-section">
                <!-- 历史内容 -->
                 <p>History</p>
            </section>
            <section id="log-content" class="content-section">
                <!-- 下载日志内容 -->
                 <p>Log</p>
            </section>
        </div>

        <!-- 额外内容 -->
        <div class="content-extra">
            <div class="extra-may-like"><p style="text-align:center">May Like</p></div>
        </div>
    </div>

    
    <!-- 页面底部 -->
    <div class="footer-container">
        <p>© 2025 Social Media Stream Downloader</p>
    </div>
    <script src="../static/js/auto_resize.js"></script>
    <script src="../static/js/clipboard.js"></script>
    <script src="../static/js/submit.js"></script>
    <script src="../static/js/favorite_scoring.js"></script>
</body>
</html>