<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Stream Downloader</title>
    <link rel="stylesheet" href="../static/css/div.css" >
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/action.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/precentage.css">
</head>
<body>
    <!-- 页面头部 -->
    <div class="header-container" id="main-header-container">
        <div class="header-container-start">
            <!-- Logo -->
            <div class="header-container-start-item">
                <div class="logo-container">
                    <img src="../../media/logo.JPG" alt="Logo" class="logo">
                </div>
            </div>
        </div>
        <div class="header-container-end">
            <!-- 头像 -->
             <div class="header-container-end-item">
                <div class="avatar-container">
                    <img src="../../media/avatar.png" alt="avatar" class="avatar">
                </div>
            </div>
        </div>
    </div>

    <!-- 主菜单切换复选框 -->
    <input type="checkbox" id="sidebar-toggle">
    
    <!-- 页面内容 -->
    <div class="content-container">
        <!-- 侧边栏 -->
        <div class="content-siderbar">
            <div class="siderbar-menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <!-- <li><a href="#download">Download</a></li> -->
                    <!-- <li><a href="#history">History</a></li> -->
                </ul>
            </div>
            <label for="sidebar-toggle" class="toggle-btn"></label>
            <div class="sidebar-end">
                <div>SMSD</div>
                <label for="sidebar-toggle" class="toggle-btn"></label>
            </div>
        </div>
        <!-- 主要内容 -->
        <div class="content-main">
            <!-- 下载框 -->
            <div id="wrapper">
                <h1>Paste Your Link Here</h1>
                <div class="container">
                    <textarea type="text" id="linkInput" class="auto-resize-input" placeholder="Enter your link here"></textarea>
                </div>
                <button id="submitButton">提交</button>
                <button id="pasteButton" onclick="pasteFromClipboard()">从剪贴板读取</button>
                
                <!-- 加入喜好列表 -->
                <div class="checkbox-container">
                    <label>
                        <input type="checkbox" id="favoriteCheckbox"> 添加到喜爱列表
                    </label>
                    <br>
                </div>
                <!-- 喜好程度 -->
                <div class="slider-container" id="sliderContainer">
                    <div class="slider-wrapper">
                        <div class="slider-track">
                            <div class="slider-progress" id="sliderProgress"></div>
                        </div>
                        <input type="range" min="0" max="100" value="0" class="slider" id="preferenceSlider">
                    </div>
                    <span class="percentage" id="percentageValue">0%</span>
                </div>
                <p id="status" class="status">准备就绪</p>
            </div>
        </div>

        <!-- 额外内容 -->
        <div class="content-extra">
            <p>猜你喜欢</p>
        </div>
    </div>

    
    <!-- 页面底部 -->
    <div class="footer-container">
        <p>© 2025 Social Media Stream Downloader</p>
    </div>
    <script src="../static/js/auto_resize.js"></script>
    <script src="../static/js/clipboard.js"></script>
    <script src="../static/js/submit.js"></script>
    <script src="../static/js/favorite_scoring.js"></script>
</body>
</html>