<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Stream Downloader</title>
    <link rel="stylesheet" href="../static/css/div.css" >
</head>
<body>
    <div class="header-container" id="main-header-container">
        <div class="header-container-start">
        </div>
        <div class="header-container-end">
            <!-- 头像 -->
        </div>
    </div>

    <div class="content-container">
        <div class="content-silderbar">
            <div class="silderbar-head">
                <div class="logo">
                    <img src="../../media/logo.JPG" alt="Logo" class="logo">
                </div>
                <div class=""></div>
            </div>
            <div class="silderbar-menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#download">Download</a></li>
                    <li><a href="#history">History</a></li>
                </ul>
            </div>
        </div>
        <div class="content-main">
            <p>Hello World</p>
        </div>
        <div class="content-extra">
            <p>猜你喜欢</p>
        </div>
    </div>

    <div class="footer-container">
        <p>© 2025 Social Media Stream Downloader</p>
    </div>
</body>
</html>